<?xml version="1.0"?>
<!--
/**
 * Copyright 2013 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">

    <menu>
        <add id="Adobe_Employee::employee"
             title="Employee"
             module="Adobe_Employee"
             sortOrder="10"
             resource="Adobe_Employee::employee"/>

        <add id="Adobe_Employee::manage_employee"
             title="Manage Employee"
             module="Adobe_Employee"
             sortOrder="20"
             parent="Adobe_Employee::employee"
             action="employee/employee/index"
             resource="Adobe_Employee::employee"/>
    </menu>
</config>
